body { 
    background-color: #000099;
}
.reward-title { 
    border: 4px yellow solid;
    width: 320px;
    color: #ffff00;
}

.top { 
    display: flex;
    background-color: #00003f;
}

.reward-1, .reward-2, .reward-3, .reward-4, .reward-5 {
    border: 4px #ffff00 solid;
    width: 300px;
    color: #ffff00;
    text-align: right;
}

h2 { 
    margin-right: 3px;
    margin-left: 3px;
    font-size: 22px;
}

.cards { 
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: white;
   margin-top: 20px;
}


img { 
    margin-right: 8px;
    width: 200px;
}

#h1 ,#h2 ,#h3 ,#h3 ,#h4 ,#h5 { 
    min-height: 30px;
}

